/* For index.html */
    
.footer { 
    position: absolute;     
    text-align: right; 
    right: 10px;   
    bottom: 10px; 
    width: 99%;
} 

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: yellow;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}
