/* For page2.html */

.header{ 
    position: fixed;     
    text-align: center; 
    top: 0px; 
    width: 99%;
}

.footer{
    position: fixed;
    text-align: left;
    bottom: 0px;
    width: 100%;
}

/* unvisited link */
a:link {
color: red;
}

/* visited link */
a:visited {
  color: rgb(196, 183, 7);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
} 
