/* For index.html */
    
.footer{ 
    position: absolute;     
    text-align: right; 
    right: 10px;   
    bottom: 0px; 
    width: 99%;
} 
    
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(196, 183, 7);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}
